body {
    background-color: hsl(92, 19%, 82%);
    font-family: 'Segoe UI', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.6rem;
}

footer {
    background-color: #212529;
    color: white;
}
